{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-8 offset-sm-2">
            <h1>Vos informations</h1>
            <table class="table table-light table-hover">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Rôles</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ app.user.email }}</td>
                        <td>
                            {% for role in app.user.roles %}
                                {{ role }}
                            {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
